/* src/app/globals.css */
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #374151;
}

/* Custom focus styles */
*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #000, 0 0 0 4px #3b82f6;
}